{{- if not .Values.ingress.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "zora.fullname" . }}-nginx
  labels:
    {{- include "zora.nginxLabels" . | nindent 4 }}
spec:
  {{- if not .Values.nginx.autoscaling.enabled }}
  replicas: {{ .Values.nginx.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "zora.nginxSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.nginx.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "zora.nginxSelectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.imageCredentials.create  }}
      imagePullSecrets:
        - name: {{ include "zora.fullname" . }}-registry-cred
      {{- else if not (eq (len .Values.imagePullSecrets) 0) }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      serviceAccountName: {{ include "zora.nginxServiceAccountName" . }}
      automountServiceAccountToken: false
      securityContext:
        {{- toYaml .Values.nginx.podSecurityContext | nindent 8 }}
      containers:
        - name: nginx
          securityContext:
            {{- toYaml .Values.nginx.securityContext | nindent 12 }}
          image: "{{ .Values.nginx.image.repository }}:{{ .Values.nginx.image.tag }}"
          imagePullPolicy: {{ .Values.nginx.image.pullPolicy }}
          volumeMounts:
            - name: config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          {{- if or .Values.ui.enabled .Values.server.enabled}}
          livenessProbe:
            httpGet:
              {{- if .Values.ui.enabled }}
              path: /
              {{- else }}
              path: /api/v1/clusters
              {{- end }}
              port: http
            initialDelaySeconds: 300
            periodSeconds: 10
          readinessProbe:
            httpGet:
              {{- if .Values.ui.enabled }}
              path: /
              {{- else }}
              path: /api/v1/clusters
              {{- end }}
              port: http
            initialDelaySeconds: 1
            periodSeconds: 10
          {{- end }}
          resources:
            {{- toYaml .Values.nginx.resources | nindent 12 }}
      volumes:
        - name: config
          configMap:
            name: {{ include "zora.fullname" . }}-nginx
      {{- with .Values.nginx.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nginx.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nginx.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
