openapi: 3.0.1
info:
  title: Zora
  description: 'Zora server'
  version: 1.0.0
servers:
  - url: https://zora-hml.undistro.io/api/v1
tags:
  - name: cluster
    description: Everything about Clusters
paths:
  /clusters:
    get:
      tags:
        - cluster
      summary: List clusters
      operationId: listClusters
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClusterItem'
        500:
          description: Internal Server Error
          content: {}
  /namespaces/{namespace}/clusters/{clusterName}:
    get:
      tags:
        - cluster
      summary: Get a cluster and its issues
      operationId: getCluster
      parameters:
        - in: path
          name: namespace
          schema:
            type: string
            example: clusters-prd
          required: true
        - in: path
          name: clusterName
          schema:
            type: string
            example: mycluster
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
        404:
          description: Not Found
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /issues:
    get:
      tags:
        - cluster
      summary: List Issues
      operationId: listIssues
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issue'
        500:
          description: Internal Server Error
          content: {}
components:
  schemas:
    Cluster:
      allOf:
        - $ref: '#/components/schemas/ClusterItem'
        - type: object
          properties:
            issues:
              type: array
              items:
                $ref: '#/components/schemas/ClusterIssue'
    ClusterItem:
      type: object
      properties:
        name:
          type: string
          example: mycluster
        namespace:
          type: string
          example: clusters-prd
        environment:
          type: string
          example: prod
        provider:
          type: string
          example: aws
        region:
          type: string
          example: v1.21.5-eks-bc4871b
        totalNodes:
          type: integer
          minimum: 0
          example: 178
        scan:
          type: object
          properties:
            status:
              type: string
              enum: [failed, unknown, scanned]
              example: unknown
            message:
              type: string
              example: 'no finished scan yet'
        connection:
          type: object
          properties:
            connected:
              type: bool
              example: false
            message:
              type: string
              example: 'metrics API not available'
        version:
          type: string
          example: v1.21.5-eks-bc4871b
        totalIssues:
          type: integer
          minimum: 0
          example: 4
        creationTimestamp:
          type: string
          format: date-time
          example: "2022-03-17T19:45:07Z"
        lastSuccessfulScanTime:
          type: string
          format: date-time
          example: "2022-06-14T17:30:11Z"
        nextScheduleScanTime:
          type: string
          format: date-time
          example: "2022-06-14T17:33:00Z"
        resources:
          $ref: '#/components/schemas/Resources'
    Resources:
      type: object
      properties:
        memory:
          $ref: '#/components/schemas/Resource'
        cpu:
          $ref: '#/components/schemas/Resource'
    Resource:
      type: object
      properties:
        available:
          type: string
          example: '10033Mi'
        usage:
          type: string
          example: '3363Mi'
        usagePercentage:
          type: integer
          minimum: 0
          maximum: 100
          example: 33
    BaseIssue:
      type: object
      properties:
        id:
          type: string
          example: "POP-106"
        message:
          type: string
          example: "No resources requests/limits defined"
        category:
          type: string
          example: "Container"
        severity:
          type: string
          example: "Medium"
        plugin:
          type: string
          example: "popeye"
    ClusterIssue:
      allOf:
        - $ref: '#/components/schemas/BaseIssue'
        - type: object
          properties:
            resources:
              type: object
              additionalProperties:
                type: object
              example:
                'apps/v1/daemonsets':
                  - 'kube-system/kube-proxy'
                  - 'kube-system/aws-node'
                'apps/v1/deployments':
                  - 'undistro-system/ingress-nginx-controller'
                'v1/pods':
                  - 'undistro-system/ingress-nginx-controller-75759597f9-zkpth'
                  - 'kube-system/kube-proxy-f287p'
                  - 'kube-system/kube-proxy-s67tv'
                  - 'kube-system/aws-node-5qb87'
                  - 'kube-system/aws-node-xls4r'
    Issue:
      allOf:
        - $ref: '#/components/schemas/BaseIssue'
        - type: object
          properties:
            clusters:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    example: mycluster
                  namespace:
                    type: string
                    example: clusters-prd
                  totalResources:
                    type: integer
                    example: 10
