openapi: 3.0.1
info:
  title: Undistro Inspect
  description: 'Undistro Inspect server'
  version: 1.0.0
servers:
  - url: https://inspect-hml.undistro.io/api/v1
tags:
  - name: cluster
    description: Everything about Clusters
paths:
  /clusters:
    get:
      tags:
        - cluster
      summary: List clusters
      operationId: listClusters
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClusterItem'
        500:
          description: Internal Server Error
          content: {}
  /namespaces/{namespace}/clusters/{clusterName}:
    get:
      tags:
        - cluster
      summary: Get a cluster and its issues
      operationId: getCluster
      parameters:
        - in: path
          name: namespace
          schema:
            type: string
            example: clusters-prd
          required: true
        - in: path
          name: clusterName
          schema:
            type: string
            example: mycluster
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
        404:
          description: Not Found
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /issues:
    get:
      tags:
        - cluster
      summary: List Issues
      operationId: listIssues
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issue'
        500:
          description: Internal Server Error
          content: {}
components:
  schemas:
    Cluster:
      allOf:
        - $ref: '#/components/schemas/ClusterItem'
        - type: object
          properties:
            issues:
              type: array
              items:
                $ref: '#/components/schemas/ClusterIssue'
    ClusterItem:
      type: object
      properties:
        name:
          type: string
          example: mycluster
        namespace:
          type: string
          example: clusters-prd
        environment:
          type: string
          example: prod
        provider:
          type: string
          example: aws
        region:
          type: string
          example: v1.21.5-eks-bc4871b
        totalNodes:
          type: integer
          minimum: 0
          example: 178
        status:
          type: object
          properties:
            type:
              type: string
              enum: [failed, unknown, scanned]
              example: failed
            message:
              type: string
              example: 'metrics API not available'
        version:
          type: string
          example: v1.21.5-eks-bc4871b
        totalIssues:
          type: integer
          minimum: 0
          example: 4
        creationTimestamp:
          type: string
          format: date-time
          example: "2022-03-17T19:45:07Z"
        lastSuccessfulScanTime:
          type: string
          format: date-time
          example: "2022-06-14T17:30:11Z"
        nextScheduleScanTime:
          type: string
          format: date-time
          example: "2022-06-14T17:33:00Z"
        resources:
          $ref: '#/components/schemas/Resources'
    Resources:
      type: object
      properties:
        memory:
          $ref: '#/components/schemas/Resource'
        cpu:
          $ref: '#/components/schemas/Resource'
    Resource:
      type: object
      properties:
        available:
          type: string
          example: '10033Mi'
        usage:
          type: string
          example: '3363Mi'
        usagePercentage:
          type: integer
          minimum: 0
          maximum: 100
          example: 33
    ClusterIssue:
      type: object
      properties:
        id:
          type: string
          example: "POP-106"
        message:
          type: string
          example: "No resources requests/limits defined"
        category:
          type: string
          example: "Container"
        severity:
          type: string
          example: "Medium"
        infoURL:
          type: string
          example: "https://cloud.google.com/blog/products/containers-kubernetes/kubernetes-best-practices-resource-requests-and-limits"
    Issue:
      allOf:
        - $ref: '#/components/schemas/ClusterIssue'
        - type: object
          properties:
            clusters:
              type: array
              items:
                $ref: '#/components/schemas/ClusterKey'
    ClusterKey:
      type: object
      properties:
        name:
          type: string
          example: mycluster
        namespace:
          type: string
          example: clusters-prd
        totalResources:
          type: integer
          example: 10
