apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "zora.fullname" . }}-operator
  labels:
    {{- include "zora.operatorLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.operator.replicaCount }}
  selector:
    matchLabels:
      {{- include "zora.operatorSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.operator.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "zora.operatorSelectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.imageCredentials.create  }}
      imagePullSecrets:
        - name: {{ include "zora.fullname" . }}-registry-cred
      {{- else }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      containers:
        - name: kube-rbac-proxy
          args:
            - --secure-listen-address=0.0.0.0:8443
            - --upstream=http://127.0.0.1:8080/
            - --logtostderr=true
            - --v=0
          image: "{{ .Values.operator.rbacProxy.image.repository }}:{{ .Values.operator.rbacProxy.image.tag }}"
          imagePullPolicy: {{ .Values.operator.rbacProxy.image.pullPolicy }}
          ports:
            - containerPort: 8443
              name: https
              protocol: TCP
          # TODO readinessProbe:
          # TODO livenessProbe:
          resources:
            {{- toYaml .Values.operator.rbacProxy.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.operator.rbacProxy.securityContext | nindent 12 }}
        - name: manager
          command:
            - /manager
          args:
            - --health-probe-bind-address=:8081
            - --metrics-bind-address=127.0.0.1:8080
            - --leader-elect
            - --zap-encoder={{ .Values.operator.log.encoding }}
            - --zap-log-level={{ .Values.operator.log.level }}
            - --zap-stacktrace-level={{ .Values.operator.log.stacktraceLevel }}
            - --zap-time-encoding={{ .Values.operator.log.timeEncoding }}
            - --default-plugins-namespace={{ .Release.Namespace }}
            - --default-plugins-names={{ join "," .Values.scan.defaultPlugins }}
            - --worker-image={{ printf "%s:%s" .Values.scan.worker.image.repository (.Values.scan.worker.image.tag | default .Chart.AppVersion) }}
            - --cronjob-clusterrolebinding-name=zora-plugins
            - --cronjob-serviceaccount-name=zora-plugins
          image: "{{ .Values.operator.image.repository }}:{{ .Values.operator.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.operator.image.pullPolicy }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.operator.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.operator.securityContext | nindent 12 }}
      securityContext:
        {{- toYaml .Values.operator.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "zora.operatorServiceAccountName" . }}
      terminationGracePeriodSeconds: 10
      {{- with .Values.operator.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
